1.	Buatlah biodata sederhana dengan menggunakan fungsi input(), dan output variabel dengan fungsi format().

In [2]:
nama = input(" NAMA : ")
nim = int (input("NIM : "))
kelas = (input("KELAS : "))
matkul = input("matkul : ")
print("NAMA : ",nama,"(",nim,")dari kelas",kelas)
print("NIM : ",nim)
print("KELAS : ",kelas)
print("MATKUL : ",matkul)



#tanggal lahir 
tanggal = int(input("Tanggal : "))
bulan = int(input("Bulan : "))
tahun = int(input("Tahun :  "))
print ("tanggal {} bulan {}  tahun {}" .format(tanggal,bulan,tahun))
print ("lahir pada Bulan {1} tanggal {0} tahun {2}".format(tanggal,bulan,tahun))

 NAMA : adbc
NIM : 2156156
KELAS : 2562
matkul : 25
NAMA :  adbc ( 2156156 )dari kelas 2562
NIM :  2156156
KELAS :  2562
MATKUL :  25
Tanggal : 1
Bulan : 5
Tahun :  06
tanggal 1 bulan 5  tahun 6
lahir pada Bulan 5 tanggal 1 tahun 6

2.	Jika terdapat kalimat UNIVERSITAS NUSA PUTRA SUKABUMI ,buatlah kode program untuk menampilkan output:
a.	putra nusa
b.	NIVERSITAS NSA PTRA SKABMI
c.	SUKABUMI PUTRA NUSA UNIVERSITAS
d.	UNPS
e.	TAS SAPU BUMI

In [65]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

print("UNIVERSITAS NUSA PUTRA SUKABUMI")
list_nama = kalimat.split()
kata1 = list_nama[0]
kata2 = list_nama[1]
kata3= list_nama[2]
kata4= list_nama[3]

print(list_nama[2],list_nama [1])
print(kalimat.replace('U', ''))
print("{3} {2} {1} {0}".format(kata1,kata2,kata3,kata4))
print("{0}{1}{2}{3}".format(kata1[0],kata2[0],kata3[0],kata4[0]))
print("{0} {1}{2} {3}".format(kata1[8:11],kata2[2:4],kata3[0:2],kata4[4:8]))

UNIVERSITAS NUSA PUTRA SUKABUMI
PUTRA NUSA
NIVERSITAS NSA PTRA SKABMI
SUKABUMI PUTRA NUSA UNIVERSITAS
UNPS
TAS SAPU BUMI